.Wel {
  background-color: rgb(87, 135, 238);
  font: bold;
  width: 350px;
  margin-left: 200px;
}
a {
  background-color: rgb(87, 135, 238);
  color:black;
  margin: 200px;
  font-size: larger;
  padding: 6px;
}
body {
  background-color: rgb(89, 15, 228);
}